body{
    background-color: #ffffff;

}

nav{
    position: relative;
    top:0%;
    margin-top: 25px;
    padding-top:15px;
}

nav a{
    margin-left: 70px;
    font-size: 17px;
    text-decoration: none;
    color:black;
    letter-spacing: 1px;
}

.first-img{
    width: 60px;
    height: 35px;
    margin-left: 70px;
    margin-bottom: -12px;
}

select{
    background-color: white;
    color:black;
    padding:10px 12px;
    margin-left:10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-top:3px black solid;
    border-left:3px red solid;
    border-right:3px red solid;
    border-bottom:3px green solid;
}



.sign-up{
    border:solid black 2px;
    padding:10px;
}

.sign-up:Hover{
    background-color: black;
    color:white;
}
nav a:hover{
    color:rgb(221, 122, 0);
}

.main-nav{
    margin-left: 80px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(4, 4, 78);
    margin-right: 130px;
}

.paragraph1{
    margin-top: 150px;
    font-size:x-large;
    letter-spacing: 1px;
    margin-left: 80px;
    color:rgb(5, 5, 68);
    font-weight: bold;
}

.paragraph2{
    color: rgb(5, 5, 68);
    font-size: 20px;
    font-size: 85px;
    font-weight: bold;
    margin-left: 80px;
    margin-top: -10px;
    word-spacing: 2px;
}

.enjoy{
    color:rgb(252, 139, 0);
    letter-spacing: 3px;
}

.paragraph3{
    margin-left: 80px;
    font-size: 15px;
    color:rgb(5, 5, 68);
    margin-top: -65px;
    word-spacing: 2px;
}

.button1{
    margin-left: 80px;
    padding:15px 35px;
    background-color:rgb(5, 5, 204);
    color:white;
    border-radius:5px ;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
     font-weight: bold;
     word-spacing: 1px;
     margin-top: 10px;
     cursor: pointer;
}

.button1:hover{
    box-shadow: 0px 1px 15px 2px #cccaca;
    /*background-color:rgb(181, 100, 1) ;*/
}


::selection{
    background-color: rgb(3, 3, 145);
    color:white
}

.part1{
    display: flex;
}

.img1{
    margin-left: 30px;
    margin-top: 70px;
    border-top-right-radius: 65px;
    border-bottom-left-radius: 65px;
    width: 800px;
    height: 600px;
    transition:all;
    -webkit-transition:all;
    -moz-transition:all;
    -ms-transition:all;
    -o-transition:all;
    transition-duration: 0.7s;
    transition-timing-function: ease;
}


.paragraph4{
    margin-top: 150px;
    font-size: 50px;
    font-weight: bold;
    word-spacing: 3px;
    color:rgb(3, 3, 43);
    margin-bottom: 140px;
    font-size: large;
    font-family: 'Cairo', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Satisfy', cursive;
font-family: 'Skranji', cursive;
text-transform: capitalize;
text-align: center;
}

.part4{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content:space-evenly;
}

.part4 div{
    filter:grayscale(0%);
    background-color: #fdf6f1;
    width:calc(60%/3);
    height: 230px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    border-radius:5px ;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
    transition: all;
    -webkit-transition: all;
    -moz-transition: all;
    -ms-transition: all;
    -o-transition: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    cursor: pointer;
    -webkit-filter:grayscale(0%);
}



.part4 div:Hover{
   background-color:#ffe1c8;
   margin-top:-20px;
   filter:grayscale(0%);
   -webkit-filter:grayscale(0%);
}


.img2{
    width: 100px;
    height: 100px;
    justify-items: center;
    align-items: center;
    margin-left: 100px;
    margin-top: 10px;
   
}

.paragraph5{
    margin-left: 80px;
    font-size: 17px;
    margin-top: 10px;
    font-weight: bold;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.paragraph6{
    margin-left: 50px;
    margin-top: 5px;
    color:#7a7a7a;
}

.paragraph7{
    text-align: center;
    font-size: large;
    margin-top:200px;
    color:#7a7a7a;
    font-family: 'Cairo', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Satisfy', cursive;
    font-family: 'Skranji', cursive;
    text-transform: capitalize;
}

.paragraph8{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: -5px;
    word-spacing: 3px;
    font-family: 'Cairo', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Satisfy', cursive;
    font-family: 'Skranji', cursive;
    text-transform: capitalize;

}


.flex{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
}

.flex div{
    width: calc(78%/3);
    height: 550px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    box-shadow: 0 0 13px 2px silver
}

.flex1{
    background-color:#f8e4d5;
}

.flex1 :hover{
    background-color: #c6c3c3;
    cursor:grab;
}

.img3{
    width: 100%;
    height: 80%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    filter: grayscale(100%);
    cursor: pointer;
    -webkit-filter: grayscale(100%);
}

.img3:hover{
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}
.paragraph9{
   font-weight:300;
   font-size: large;
   color:rgb(3, 3, 145);
   margin-left:20px;
   transition:all ;
   -webkit-transition:all ;
   -moz-transition:all ;
   -ms-transition:all ;
   -o-transition:all ;
   transition-duration: 0.5s;
   transition-timing-function: ease; 
   transition-delay: 0.2s;
   margin-left:1px
}

.paragraph9:Hover{
    background-color:rgb(3, 3, 145);
    color:white;
   
}

.paragraph10,
.paragraph11{
    text-align: center;
    color:#000000;
    margin-top:-4px;
    font-weight: 400;
    word-spacing: 3px;
    
}


.part6{
    background-color: #eeeeee;
    width: 70%;
    height: 300px;
    align-content: center;
    margin-top:200px;
    margin-left: 100px;
    border-top-left-radius:100px ;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.img4{
    margin-left: 1000px;
    margin-top: -30px;

}


.paragraph12{
    text-align: center;
    font-size: x-large;
    color: #404040;
    
}

.input1{
    margin-left: 190px;
    padding: 15px 300px 15px 10px;
    margin-top: 70px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;


}

::placeholder{
    color:rgb(122, 122, 122);
    font-size: 14px;
}

.button2{
    margin-left: 30px;
    padding:15px 35px;
    background-color:rgb(3, 3, 145);
    color:white;
    border-radius:20px ;
    -webkit-border-radius:20px ;
    -moz-border-radius:20px ;
    -ms-border-radius:20px ;
    -o-border-radius:20px ;
    font-weight: bold;
    word-spacing: 1px;
    margin-top: 10px;
    cursor: pointer;
}

.input1:focus{
    background-color: black;
    color:white;
}

.part8{
    display: flex;
    margin-top:50px;
}

.img5{
    width: 200px;
    height: 400px;
    margin-top:170px;
    margin-left:60px;
}

footer{
    background-color: #cbcbcb;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: -10px;
    margin-right: -8px;
    margin-bottom: -20px;
}

.paragraph13{
    text-align: center;
    
    
}

.my-name{
    color:rgb(3, 3, 145);
    font-weight: bold;
}

.all-one{
    background-color: #1aa5c8;
    margin-left: -8px;
    margin-top:-25px;
    margin-right: -8px;
    padding-bottom: 35px;
}

.we-offer{
    border-bottom: 2px solid blue;
    padding-bottom: 20px;
}

/*
.r{
    color:darkorchid
}

.e{
    color:darkorchid;
}

.y{
    color:darkorchid
}

.a{
    color:darkorchid
}

.d{
    color:darkorchid
}*/